*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

.landing{
height:100vh;
width:100%;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
overflow:hidden;
position:relative;
}

.overlay{
width:100%;
height:100%;
background:rgba(0,0,0,.35);
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

/* ---------- SKY ---------- */

.sky{
position:absolute;
width:100%;
height:100%;
overflow:hidden;
}

.cloud{
position:absolute;
opacity:.85;
}

.cloud1{
width:220px;
top:8%;
left:-250px;
animation:cloudMove1 70s linear infinite;
}

.cloud2{
width:180px;
top:22%;
left:-350px;
animation:cloudMove2 95s linear infinite;
}

@keyframes cloudMove1{

from{left:-250px;}
to{left:110%;}

}

@keyframes cloudMove2{

from{left:-350px;}
to{left:110%;}

}

/* ---------- PLANES ---------- */

.plane{
position:absolute;
pointer-events:none;
}

.plane1{

width:170px;

left:-220px;
top:68%;

animation:planeFly1 15s linear infinite;
}

.plane2{

position:absolute;

width:130px;

right:-220px;

top:12%;

z-index:3;

animation:planeFly2 18s linear infinite;

}

@keyframes planeFly1{

0%{

left:-220px;
top:72%;
transform:rotate(-18deg);

}

100%{

left:110%;
top:12%;
transform:rotate(-18deg);

}

}

@keyframes planeFly2{

0%{

right:-220px;
top:12%;
transform:rotate(-10deg);

}

25%{

top:15%;

}

50%{

top:18%;

}

75%{

top:22%;

}

100%{

right:110%;
top:28%;
transform:rotate(-10deg);

}

}

/* ---------- HERO CARD ---------- */

.hero-card{

width:520px;

padding:55px;

border-radius:25px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.18);

text-align:center;

color:white;

z-index:10;

box-shadow:0 15px 45px rgba(0,0,0,.35);

}

.logo{

width:90px;

margin-bottom:20px;

}

.hero-card h1{

font-size:56px;

margin-bottom:10px;

}

.hero-card p{

font-size:22px;

margin-bottom:40px;

}

.buttons{

display:flex;

justify-content:center;

gap:20px;

}

.buttons button{

width:180px;

height:55px;

border:none;

border-radius:40px;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.35s;

}

.buttons button:first-child{

background:#2563eb;
color:white;

}

.register-btn{

background:#f59e0b;
color:white;

}

.buttons button:hover{

transform:translateY(-4px);

box-shadow:0 10px 30px rgba(0,0,0,.35);

}