.navbar{

width:100%;
height:75px;

position:fixed;
top:0;
left:0;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 50px;

background:rgba(15,23,42,.92);

backdrop-filter:blur(15px);

z-index:999;
}

.logo{

font-size:30px;
font-weight:bold;

color:white;

cursor:pointer;

transition:.3s;
}

.logo:hover{

color:#00d4ff;

}

.nav-links{

display:flex;

gap:35px;

}

.nav-links a{

text-decoration:none;

color:white;

font-size:18px;

transition:.3s;

padding-bottom:4px;

}

.nav-links a:hover{

color:#00d4ff;

}

.active{

color:#00d4ff !important;

border-bottom:2px solid #00d4ff;

}

.profile{

position:relative;

cursor:pointer;

color:white;

}

.profile-icon{

display:flex;

align-items:center;

gap:10px;

font-size:16px;

}

.dropdown{

position:absolute;

right:0;

top:60px;

width:230px;

background:white;

border-radius:12px;

overflow:hidden;

box-shadow:0 12px 30px rgba(0,0,0,.25);

animation:fade .25s ease;

}

.user-info{

padding:18px;

background:#f5f7fb;

display:flex;

flex-direction:column;

}

.user-info small{

color:#777;

margin-top:5px;

word-break:break-word;

}

.dropdown a{

display:block;

padding:15px 18px;

color:#222;

text-decoration:none;

transition:.3s;

}

.dropdown a:hover{

background:#f2f2f2;

}

.dropdown button{

width:100%;

border:none;

background:#ff4d4d;

color:white;

padding:15px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

.dropdown button:hover{

background:#e63946;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(-10px);

}

to{

opacity:1;
transform:translateY(0);

}

}